* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "feather", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

window#waybar {
    background-color: rgba(33, 52, 51, 0.7);
    border-bottom: 3px solid rgba(67, 103, 102, 0.8);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #373b3e;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

label.module{
    background-color: rgba(100, 155, 152, 0.3);
}

/* you can set a style on hover for any module like this */
label.module:hover {
    background-color: rgba(100, 155, 152, 0.5);
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(25, 27, 32, 0.6);
}

#workspaces button.focused {
    background-color: rgba(38, 40, 46, 0.6);
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.active {
    background-color: rgba(38, 40, 46, 0.6);
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #e12885;
}

#mode {
    background-color: #373b3e;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: #ffffff;
}

#bluetooth {
	padding: 0 8px;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}
/*
#clock {
    background-color: #64727D;
}*/
/*
#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}
*/
@keyframes blink {
    to {
        background-color: rgba(134, 206, 203, 0.5);
        color: #ffffff;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #e12885;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: rgba(165, 40, 130, 0.3);
    color: #ffffff;
}

#power-profiles-daemon.performance:hover {
    background-color: rgba(165, 40, 130, 0.5);
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: rgba(100, 155, 152, 0.3);
    color: #ffffff;
}

#power-profiles-daemon.balanced:hover {
    background-color: rgba(100, 155, 152, 0.5);
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: rgba(23, 135, 135, 0.3);
    color: #000000;
}


#power-profiles-daemon.power-saver:hover {
    background-color: rgba(44, 135, 135, 0.5);
    color: #000000;
}

label:focus {
    background-color: #000000;
}
/*
#cpu {
}

#memory {
    background-color: #9b59b6;
}

#disk {
    background-color: #964B00;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: #2980b9;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    background-color: #f1c40f;
    color: #000000;
}

#pulseaudio.muted {
    background-color: #90b1b1;
    color: #2a5c45;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}
*/
#custom-media.custom-spotify {
    background-color: rgba(100, 155, 152, 0.3);
}
/*
#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}
*/
#tray {
    background-color: rgba(100, 155, 152, 0.3);
}

#tray:hover {
    background-color: rgba(100, 155, 152, 0.5);
}
/*
#tray > .passive {
    -gtk-icon-effect: dim;
}*/

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #e12885;
}

#idle_inhibitor {
    padding: 0 2px;
    margin: 0 0px;
    min-width: 26px;
}

/*
#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}*/

#language {
    /*background: #00b093;*/
    padding: 0 8px;
    margin: 0 0px;
    min-width: 0px;
}

#keyboard-state {
    /*background: #97e1ad;*/
    color: #000000;
    padding: 0 0px;
    margin: 0 0px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0);
}

#scratchpad.empty {
    background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
